<div class="tabs" role="tablist" aria-label="Content views">
  <button class="tab" id="overview-tab" type="button" role="tab" aria-selected="true" aria-controls="overview-panel">Overview</button>
  <button class="tab" id="activity-tab" type="button" role="tab" aria-selected="false" aria-controls="activity-panel" tabindex="-1">Activity</button>
</div>
<div id="overview-panel" role="tabpanel" aria-labelledby="overview-tab">Overview content</div>
<div id="activity-panel" role="tabpanel" aria-labelledby="activity-tab" hidden>Activity content</div>