<nav class="pagination" aria-label="Pagination">
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--nav" href="?page=4" rel="prev" aria-label="Go to previous page">
        <svg class="pagination__icon pagination__icon--prev" viewBox="0 0 16 16"><use href="fluent-icons.svg#chevron-right-16-regular"></use></svg>
        <span class="text-trim">Previous</span>
      </a>
    </li>
    <li class="pagination__item"><a class="pagination__link" href="?page=1" aria-label="Go to page 1">1</a></li>
    <li class="pagination__item"><span class="pagination__ellipsis" role="img" aria-label="More pages">…</span></li>
    <li class="pagination__item"><a class="pagination__link" href="?page=4" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item"><a class="pagination__link pagination__link--active" href="?page=5" aria-current="page" aria-label="Page 5">5</a></li>
    <li class="pagination__item"><a class="pagination__link" href="?page=6" aria-label="Go to page 6">6</a></li>
    <li class="pagination__item"><span class="pagination__ellipsis" role="img" aria-label="More pages">…</span></li>
    <li class="pagination__item"><a class="pagination__link" href="?page=20" aria-label="Go to page 20">20</a></li>
    <li class="pagination__item">
      <a class="pagination__link pagination__link--nav" href="?page=6" rel="next" aria-label="Go to next page">
        <span class="text-trim">Next</span>
        <svg class="pagination__icon" viewBox="0 0 16 16"><use href="fluent-icons.svg#chevron-right-16-regular"></use></svg>
      </a>
    </li>
  </ul>
</nav>
